fastapi
uvicorn
pydantic
python-dotenv
google-genai
edge-tts
requests
psutil
SpeechRecognition
pydub
python-multipart
sqlalchemy
asyncpg
pgvector
groq
openai
webrtcvad
beautifulsoup4
markdownify
chromadb
pyaudio
